<div class="container">
   <div id="recipesCar" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#recipesCar" data-slide-to="0" class="active"></li>
      <li data-target="#recipesCar" data-slide-to="1"></li>
	  <li data-target="#recipesCar" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
	
      <div class="item active">
        <a href="/drinks"><img src="/images/oldfashioned.jpg" alt="A Drink">
        <div id = "drink-caption" class="carousel-caption">
			<h3>Have a Drink</h3>
			<p>Greast way to relax after a long day</p>
        </div></a>
      </div>

      <div class="item">
        <a href="/breakfast"><img src="/images/breakfast.jpg" alt="Breakfast">
        <div id = "breakfast-caption" class="carousel-caption">
			<h3>Breakfast</h3>
			<p>Most important meal of the day</p>
        </div>
      </div>
   
	
		<div class="item">
			<a href="/dinner"><img src="/images/salmon.png" alt="Dinner">
			<div id = "dinner-caption" class="carousel-caption">
				<h3>Dinner</h3>
			</div>
		</div>
	</div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#recipesCar" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#recipesCar" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id= "recipeScrollList">
	<h3 id = "hScroll">Recipes avialable:</h3>
	<div id = "recipeScroll">
	{{#each recipes}}
		<li>{{this.name}}</a>
	  {{/each}}
	</div>
</div>

<div id = "downloadLink">
	<a href = "/downloads/RecipesList.doc" download = "recipeList">  <span>Recipe Download</span> </a>
</div>