<head>
	<style>
		#menu ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: indigo;
		}

		#menu li {
			float: left;
		}

		#menu li a {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		#menu li a:hover {
			background-color: yellow;
			color: black;
		}
			
		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
			 margin: auto;
		}
	</style>
</head>


<div class="container">
   <div id="recipesCar" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#recipesCar" data-slide-to="0" class="active"></li>
      <li data-target="#recipesCar" data-slide-to="1"></li>
	  <li data-target="#recipesCar" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
	
      <div class="item active">
        <a href="/drinks"><img src="oldfashioned.jpg" alt="A Drink">
        <div class="carousel-caption">
			<h3>Have a Drink</h3>
			<p>Greast way to relax after a long day</p>
        </div></a>
      </div>

      <div class="item">
        <a href="/breakfast"><img src="breakfast.jpg" alt="Breakfast">
        <div class="carousel-caption">
			<h3>Breakfast</h3>
			<p>Most important meal of the day</p>
        </div>
      </div>
   
	
		<div class="item">
			<a href="/dinner"><img src="salmon.png" alt="Dinner">
			<div class="carousel-caption">
				<h3>Dinner</h3>
			</div>
		</div>
	</div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#recipesCar" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#recipesCar" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<div style="height:150px;width:300px;border:1px solid #ccc;">
Recipes avialable:<br />
Salmon and Couscous<br />
Rob Roy<br />
Overnight Oats<br />
</div>